* {
    box-sizing: border-box;
    font-family: 'Roboto';
    background: #121213;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

/* Navigation */

.nav-container {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E8EAED;
}

.logo {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
}

/* Question */

.question-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container{
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.question-text {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
}

.btn-grid {
    display: grid;
    gap: 20px;
    margin: 20px;
}

.btn {
    width: 320px;
    height: 68px;
    border-radius: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color:#FFFFFF;
}

#btn-top {
    border: 2px solid #1BFF4D;
}

#btn-top:hover {
    background: rgba(27, 255, 77, 0.25);
}

#btn-bottom {
    border: 2px solid #BC8581;
}

#btn-bottom:hover {
    background: rgba(188, 133, 129, 0.25);
}

.page-number {
    margin-top: 120px;
}

.page-text {
    font-weight: 400;
    font-size: 36px;
    color: #A6A6A7;
}

#display {
    font-size: 36px;
    color:white;
}